// This tells nextflow to use conda environments to run the processes 
// (unless specified otherwise).
conda.enabled=true

// We use profiles to tell nextflow *how* we would like to run the process
profiles {

  o2cluster {

    process {
      // Replace this with the path to your conda environment:
      conda = '<# PATH TO CONDA ENV #>'
      executor = 'slurm'
      queue = 'short'

      // default params unless specified otherwise in the process itself:.
      cpus = 1
      memory = 8.GB
      time = '2h'

      withLabel: alignment_tool {
        cpus = 2
        memory = 12.GB
      }

      withName: run_edgeR {
        cpus = 2
        memory = 64.GB
      }
    }

  }

}

executor {
  $slurm {
    queueSize = 1900
    submitRateLimit = '20 sec'
  }
}

// Below, you can modify these constants which affect how trimming, etc. are performed
params {

  trimmomatic_crop = 50
  trimmomatic_head_crop = 25

  // Path to a file with adapter sequences. For format, see trimmomatic docs.
  trimmomatic_adapter_fasta = '<# PATH TO ADAPTER FASTA #>'
}
